<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chinshry.tool">
    <application>
        <activity android:name=".activity.ScrollTextActivity" />
        <activity android:name=".activity.PictureSelectActivity" />
        <activity android:name=".activity.MaskingActivity" />
        <activity android:name=".activity.TestActivity" />
    </application>
</manifest>